<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed':''">
  <div class="logo-container">
    <button class="logo" (click)="toggleCollapse()">A</button>
    @if (collapsed) {
      <div class="logo-text">Angular</div>
    }
    @if (collapsed) {
      <button class="btn-close" (click)="closeSidenav()">
        <mat-icon mat-list-icon class="fal fa-times">{{'close'}}</mat-icon>
        <!-- <i class="fal fa-times [class]="[data.icon]" close-icon"></i> -->
      </button>
    }
  </div>
  <ul class="sidenav-nav">
    @for (data of navData; track data) {
      <li class="sidenav-nav-item">
        <a class="sidenav-nav-link" [routerLink]="[data.routerLink]">
          <!-- <i class="sidenav-link-icon" [class]="[data.icon]"></i> -->
          <mat-icon class="sidenav-link-icon" mat-list-icon>{{data.icon}}</mat-icon>
          @if (collapsed) {
            <span class="sidenav-link-text">{{data.label}}</span>
          }
        </a>
      </li>
    }
  </ul>
</div>
